<a href="https://colab.research.google.com/github/623021002-7/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd  #pandas ใช้กับข้อมูลที่เป็นตาราง/เอกเซล

.csv = Comma Separated Values

data.go.th

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os #os จัดการไฟล์ในคอมพิวเตอร์

In [6]:
path = '/content/drive/My Drive/dataviz_2021_data'

In [7]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [8]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [9]:
data_covid = pd.read_csv(covid_file_path) #csv เพื่อมาใส่ใน data covid
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

NAN คือไม่มีค่าตัวเลข

In [10]:
data_covid.head(20) #.head ใช้ดูหัวตาราง

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [11]:
data_covid.tail()

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [12]:
data_covid.shape #shape ใช้แสดงว่ามีกี่ row กี่ colum

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [16]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [17]:
data_covid['risk'][12649] #คอลัม risk แถวที่ 12649

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [18]:
data_covid['province_of_onset'][4] #ชี้ว่าคอลัมไหน แถวที่ 4

'กรุงเทพมหานคร'

#### .iloc

In [19]:
data_covid.iloc[4,7] #แถวที่ 4 หลักที่ 7

'กรุงเทพมหานคร'

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [20]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [30]:
data_covid.iloc[1:5,:] #เอาแถว 1-4 ทุกๆ column

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

$pddf$ [list-of_logical_values] คือการเลือก row ที่ logical value เป็น True

In [31]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [32]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [33]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [34]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ rows ที่ต้องการ

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [35]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [36]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

In [37]:
eight_rows_covid['district_of_onset'] == 'เมือง'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

In [38]:
import numpy as np

# .$isnull()$ ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [39]:
eight_rows_covid['district_of_onset'].isnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

Quiz(ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ของข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ของผู้ป่วยในจังหวัดขอนแก่น
3.   หาจำนวณผู้ป่วยที่เป็นคน **ที่ไม่ใช่คนไทย**

##1.คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในข้อมูลทั้งหมด

In [40]:
# 1. คำนวณอายุเฉลี่ยของผู้ชาย ในข้อมูลทั้งหมด
this_data = data_covid[['sex','age','province_of_onset']] # กำหนดดัวแปรชื่อ this_data เพื่อนำมาใช้ในการเก็บข้อมูลคอลัมน์ของ sex,age และ province_of_onset
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [41]:
male = this_data[this_data['sex']=='ชาย'] # เลือกเฉพาะเพศชาย กำหนดให้ 'sex' == 'ชาย' โดยเลือกจากตาราง this_data แล้วเอาไปใส่ในตารางที่ชื่อว่า male
male['age'] # แสดงตารางข้อมูลของ male คอลัมน์ 'age'

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12640    66.0
12641    29.0
12643    39.0
12646    18.0
12647    42.0
Name: age, Length: 4819, dtype: float64

In [42]:
# สามารถคำนวณอายุเฉลี่ยของผู้ชาย ในข้อมูลทั้งหมด ได้ดังนี้
sum = 0 # กำหนดให้ sum = 0 เนื่องจากถ้าค่าตัวที่ 1 เข้ามาบวกจะได้ค่าออกมาเท่ากับตัวที่ 1
N = 0 # กำหนดให้ N = 0 เนื่องจาก N เป็นตัวหาร โดยจะทำการวนลูป (N เป็นตัวแปรที่จะนับว่ามีคนทั้งหมดกี่คน)
for a in male['age']: # เริ่มวนลูปโดยให้ a แทนค่าแต่ละค่าในคอลัมน์ 'age' ของตารางที่มีชื่อว่า male  
    if a > 0: # ถ้า a มากกว่า 0 แสดงว่าเป็นอายุปกติ ไม่ใช่ข้อมูลที่ผิดพลาด 
        sum += a # sum = sum + a คือ ถ้า a > 0 จะนำมารวมเข้าไปใน sum เรื่อย ๆ ในทุก ๆ รอบที่ a มากกว่า 0
        N += 1 # คำนวนจำนวนโดยที่มันจะ +1 เข้ามาเรื่อย ๆ ตามจำนวน
print(f'อายุเฉลี่ยของผู้ป่วยชาย เท่ากับ {sum/N} ปี')

อายุเฉลี่ยของผู้ป่วยชาย เท่ากับ 39.46076940331987 ปี

##2.คำนวณ อายุเฉลี่ย ของ**ผู้ชาย**ในจังหวัดขอนแก่น

In [43]:
male_KK = male[male['province_of_onset']=='ขอนแก่น'] # เลือกเฉพาะจังหวัดขอนแก่น กำหนด 'province_of_onset' == 'ขอนแก่น' โดยเลือกจากตาราง male แล้วเอาไปใส่ในตัวแปรชื่อ male_KK
male_KK

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [44]:
#สามารถคำนวณอายุเฉลี่ยของผู้ชายในจังหวัดขอนแก่น ได้ดังนี้
sum = 0 # กำหนดให้ sum = 0 เนื่องจากถ้าค่าตัวที่ 1 เข้ามาบวกจะได้ค่าออกมาเท่ากับตัวที่ 1
N = 0 # กำหนดให้ N = 0 เนื่องจาก N เป็นตัวหาร โดยจะทำการวนลูป (N เป็นตัวแปรที่จะนับว่ามีคนทั้งหมดกี่คน)
for a in male_KK['age']: #เริ่มวนลูปโดยให้ a แทนค่าแต่ละค่าในคอมลัมน์ 'age' ของตารางที่มีชื่อว่า male_KhonKaen 
    if a > 0: # ถ้า a มากกว่า 0 แสดงว่าเป็นอายุปกติ ไม่ใช่ข้อมูลที่ผิดพลาด 
        sum += a # sum = sum + a คือ ถ้า a > 0 จะนำมารวมเข้าไปใน sum เรื่อย ๆ ในทุก ๆ รอบที่ a มากกว่า 0
        N += 1 # คำนวนจำนวนโดยที่มันจะ +1 เข้ามาเรื่อย ๆ ตามจำนวน   
print(f'อายุเฉลี่ยของผู้ป่วยชายในจังหวัดขอนแก่น เท่ากับ {sum/N} ปี')

อายุเฉลี่ยของผู้ป่วยชายในจังหวัดขอนแก่น เท่ากับ 26.571428571428573 ปี

##3.หาจำนวนผู้ป่วย**ที่ไม่ใช่คนไทย**

In [45]:
this_data1 = data_covid[['sex','age','nationality']] # กำหนดดัวแปรชื่อ this_data1 เพื่อเก็บข้อมูล data_covid โดยเลือกมาเฉพาะคอลัมน์ sex,age,province_of_onset(เพศ,อายุ,สัญชาติ)
this_data1 # แสดงตารางข้อมูลของ this_data1

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
2      หญิง  73.0    Thailand
3       ชาย  68.0       China
4      หญิง  66.0       China
...     ...   ...         ...
12648  หญิง  44.0    Thailand
12649  หญิง  52.0    Thailand
12650  หญิง  23.0    Thailand
12651  หญิง  29.0    Thailand
12652  หญิง  22.0       Burma

[12653 rows x 3 columns]

In [46]:
foreigner = this_data1[this_data1['nationality']!='Thailand'] #เลือกเฉพาะคนที่ไม่ใช่สัญชาติไทย กำหนด 'nationality' != 'Thailand' เลือกจากตารางที่มีชื่อว่า this_data1 แล้วเอาไปใส่ในตัวแปรชื่อ foreigner (ชาวต่างชาติ)
foreigner #แสดงตารางข้อมูลของ foreigner

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12614  หญิง  43.0       Burma
12615  หญิง  35.0       Burma
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12652  หญิง  22.0       Burma

[5340 rows x 3 columns]

In [47]:
foreigner.count() # ใช้คำสั่ง count() เพื่อดูจำนวน 
#จะได้ว่า จำนวนผู้ป่วยที่ไม่ใช่คนไทยเท่ากับ 4,129 คน

sex            2889
age            2038
nationality    4129
dtype: int64